{% extends 'admin-base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% trans with { '%page%' : entity.title } %}delete_page{% endtrans %}</h1>
        </div>
        <div class="form-row">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
