###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
### Docker Compose Logs ###
.logs/
/build-artifacts/
!build-artifacts/.gitkeep
public/*
!public/index.php
# nodejs/npm
node_modules/
npm-debug.log
yarn-error.log
band-page.iml
