{% extends 'base.html.twig' %}
{% block body %}
    <div class="container table-responsive">
        <h1>{% trans from 'gig' %}Upcoming gigs{% endtrans %}</h1>
        {% include 'Gig/_module/list-frontend.twig' with {'gigs': entities} only %}
        <a href="{{ path('gig_list_past_frontend') }}">{% trans from 'gig' %}Past gigs{% endtrans %}</a>
    </div>
{% endblock %}
