{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% for news in entities %}

            <div class="card mb-5">
                <h2 class="card-header card-title">{{ news.title }}</h2>
                <div class="card-body">
                    <p class="card-text">
                        {{ news.content|slice(0, 200) }}
                        {% if news.content|length > 200 %}
                            ...
                        {% endif %}
                    </p>
                    <a href="{{ path('news_show', {'slug': news.slug}) }}"
                       class="btn btn-light btn-outline-dark">{% trans from 'news' %}Read more{% endtrans %}</a>
                </div>
                <div class="card-footer text-right text-muted">{{ news.createdAt|date('d.m.Y') }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
