{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="float-right text-muted w-25">
            {% trans from "blog_post" %}posted at{% endtrans %} {{ entity.createdAt|date("d.m.Y") }}
        </div>
        <h1 class="w-75">{{ entity.title }}</h1>
        <hr/>
        <div class="col">
            {{ entity.content| raw }}
        </div>
    </div>
{% endblock %}
